div.body {
	max-width: 1000px;
	margin: 5% auto;
}

form {
	margin: 0 auto;
	text-align: center;
}

select.gen {
	width: 140px;
}

table.players {
	margin: 35px auto;
}

table.players tr>td {
	padding: 0px 0px 0px 5px;
}

td.right {
	text-align: right;
}

td.small {
	font-size: 50%;
}

td.refresh {
	font-size: 200%;
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 40px;
}

div.submit {
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;
}

table.sortable {
	margin: 50px auto;
	font-size: 120%;
}

table.sortable caption {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 20px;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable td {
	padding: 0px 5px 0px 5px;
}

.json {
	margin: 0 auto;
}

div.json {
	margin-bottom: 1em;
	border: 3px outset lightgray;
	border-radius: 5px 5px;
	padding: 0.5em;
	width: fit-content;
	max-width: 500px;
	word-wrap: break-word;
}

/* margin and padding's order: top, right, bottom, left */